/* CSS LARGE SIZE */
@media only screen and (max-width: 1024px){
    header {
        grid-template-columns: auto auto;
    }   
   #planet-container.ui.card {
    flex: 50%;
    padding: 10px;

    }
    .card1, .card2 {
        text-align: center;
    }
 

  }